.linktocontent {
    text-decoration: none;
    color: black;

}

.housingcard {
    width: 100%;
    min-height: 240px;
    height: auto;
    border: 5px solid white;
    border-radius: 20px/20px;
    background-color: white;
    margin-right: 35px;
    box-shadow: 0px 0px 12px 3px #d2d2d2;

}

.housingpiccard {
    width: auto;
    max-width: 320px;
    height: 150px;
    max-height: 60%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.housingpic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.popularhousingcard {
    margin: 0 30px 35px 30px;
    border: 5px solid white;
    border-radius: 20px/20px;
    background-color: white;
    display: flex;
    width: auto;
    max-width: 420px;
    box-shadow: 0px 0px 12px 3px #d2d2d2;

}

.popularhousingpiccard {
    width: 100%;
    max-width: 40%;
    height: 168px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popularhousingpic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.activitycard {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 55px;
}


.activitypiccard {
    width: 100%;
    max-width: 390px;
    height: 450px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0px -3px 12px 3px #f2f2f2;
}

.activitypiccardS {
    width: 100%;
    max-width: 385px;
    height: 172px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0px -3px 12px 3px #f2f2f2;
}

.activitypic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activitypicstubborn {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}