@font-face {
    font-family: "Raleway", sans-serif;
    src: url("../webfonts/Raleway-VariableFont_wght.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Raleway", sans-serif;
}

header {
    margin: 30px 150px 0 150px;
}

ul {
    padding: 0;
    list-style: none;
}

#navbar {
    align-items: center;
    display: grid;
    grid-template-columns: 50% 40% 10%;
}

#linktomaincontent {
    display: flex;
    justify-self: end;
    grid-column-start: 2;
    grid-column-end: 3;
}

.links {
    text-decoration: none;
    color: black;
    padding: 0 30px 0 30px;
}

.links:hover {
    color: #0065FC;
    border-top: solid;
    padding-top: 43px;
}

#subscribe {
    justify-self: center;
    grid-column-start: 3;
    grid-column-end: 4;
}

.subscribebutton {
    color: #0065FC;
    text-decoration: none;
    font-weight: bold;
}

.subscribebutton:visited {
    text-decoration: none;
}

main {
    margin: 0 150px 0 150px;
}

#maintitle {
    margin: 50px 0 15px 0;
}

#maintitlepar {
    text-align: left;
    line-height: 0.1;
    margin: 8px 0 8px 0;
}

#searchbar {
    display: flex;
    flex-wrap: nowrap;
    text-align: left;
    align-items: center;
}

#search {
    height: 43px;
    width: 220px;
    border: 1px solid #F2F2F2;
    font-weight: bold;
    font-size: 1.05em;
    padding-left: 15px;
}

#search::placeholder {
    color: black;
    font-weight: bold;
}

#searchbutton {
    height: 48px;
    width: 158.67px;
    margin-left: -4.45px;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    font-size: 1.05em;
    border: 3px solid #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#filtersbar {
    display: flex;
    flex-wrap: wrap;
}

.filter {
    font-weight: bold;
    padding: 0 20px 0 20px;
}

.filter:nth-child(1) {
    padding: 0 0 0 0;
    margin: 14px 30px 16px 0;
}

#info {
    display: flex;
    align-items: center;
}

#centerpart {
    display: flex;
    justify-content: center;
    margin: 30px 0 0 0;
}

#housing {
    border: 3px solid #f2f2f2;
    background-color: #f2f2f2;
    border-radius: 20px/20px;
    padding-left: 30px;
    margin-right: 50px;
}

#housing h2 {
    margin: 35px 0 20px 0;
}

.housingselection {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

.innprice {
    text-align: left;
    margin: 7px 0 7px 10px;
}

.starrating {
    margin: 0 0 7px 7px;
    text-align: left;
}

#showmore {
    margin-bottom: 35px;
    font-weight: bold;
}

#mostpopularhousing {
    display: flex;
    flex-direction: column;
    border: 3px solid #f2f2f2;
    background-color: #f2f2f2;
    border-radius: 20px/20px;
}

#headerpopularhousing {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#headerpopularhousing h2 {
    margin: 35px 0 20px 30px;
}

.popularhousinginfo {
    display: grid;
    grid-template-rows: 40% 40% 20%;
    margin: 0 15px 0 10px
}

.innnamepopularhousing {
    text-align: left;
    margin: 10px 0 0 15px;
}

.innpricepopularhousing {
    text-align: left;
    margin: 0 0 0 15px;
}

.starratingpopularhousing {
    align-self: end;
    text-align: left;
    margin: 0 0 7px 15px;
}

#activitytitle {
    text-align: left;
    margin: 60px 0 15px 0;
}

#activity {
    display: flex;
    justify-content: center;
}

.activityside {
    display: flex;
}

.activityside:nth-child(2) .activitycard:nth-child(2) {
    margin-right: 0;
}

.banner {
    text-align: left;
    font-weight: bold;
    border: 3px solid white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow:
        6px 6px 6px #f2f2f2,
        -6px 0 6px #f2f2f2;
    height: 45px;
    margin: 0 0 56px 0;
}

.bannername {
    margin-left: 20px;
}

footer {
    display: flex;
    width: auto;
    margin: 10px 0 0 0;
    background-color: #F2F2F2;
}

#about {
    margin-left: 150px;
}

.footerbox {
    margin-left: 350px;
}

.footerlist {
    margin-top: 15px;
}